head
  title 今日のオカズ
body
  +index
template(name='index')
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header
      .mdl-layout__header-row
        span.mdl-layout-title 今日のオカズ
        a(href='javascript:(function(){%24.get(%22http%3A%2F%2Flocalhost%3A3000%2Fapi%2Fsite%22%2C%7Burl%3Alocation.href%2Cuser_id%3A%2267WwfoEC8N3Mmoi7f%22%7D)%3B})();') Click Me
        a.mdl-button.mdl-js-button.mdl-button--raised(href='javascript:(function(){%24.get(%22http%3A%2F%2Flocalhost%3A3000%2Fapi%2Fsite%22%2C%7Burl%3Alocation.href%2Cuser_id%3A%22#{user_id}%22%7D)%3B})();') ストックする
        span このボタンをアドレスバーにドラック&ドロップ
    h5 あなたがストックしたオカズ
    .mdl-grid
      each stockedSites
        .mdl-card.mdl-shadow--2dp.mdl-cell--4-col.mdl-cell
          .mdl-card__title
            img(style='max-width:100%' src="http://free.pagepeeker.com/v2/thumbs.php?size=x&url=#{url}")
          .mdl-card__supporting-text
            h2.mdl-card__title-text #{title}
          .mdl-card__actions.mdl-card--border
            a(target='_brank' href='#{url}').mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
              p アクセス
            a(target='_brank' href='#{url}').mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
              p ストック
    iframe(src='http://dynamic.dtiserv.com/9103055/9103055.html?affid=179551', width='835', height='290', frameborder='no', scrolling='no')
