template(name='siteList')
  h5 あなたがストックしたオカズ
  .mdl-grid
    each stockedSites
      .mdl-card.mdl-shadow--2dp.mdl-cell--4-col.mdl-cell
        .mdl-card__title
          img(style='max-width:100%' src="http://free.pagepeeker.com/v2/thumbs.php?size=x&url=#{url}")
        .mdl-card__supporting-text
          //- .mdl-card__title-text #{title}
          p #{title}
        .mdl-card__actions.mdl-card--border
          a(href='#{url}' target="_blank").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
            p アクセスする
  h5 今日人気のオカズ
  .mdl-grid
    each rankedSites
      .mdl-card.mdl-shadow--2dp.mdl-cell--4-col.mdl-cell
        .mdl-card__title
          img(style='max-width:100%' src="http://free.pagepeeker.com/v2/thumbs.php?size=x&url=#{url}")
        .mdl-card__supporting-text
          p #{title}
          .mdl-badge(data-badge='#{stockCnt}') ストックされた数
        .mdl-card__actions.mdl-card--border
          a(href='#{url}' target="_blank").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
            p アクセスする
          a(href='#' onclick='Meteor.call("stockSite","#{url}")').mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-badge
            p ストックする
